{% extends 'base.html' %}
{% block title %} Language Log Pile {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Language Log Pile</h1>

{% if active_test %}
    {% if completed %}
        <p class="text-center">You have already completed Language Log Pile! Please return to your garden to choose another part of the test. </p>


        <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 
    
    {% else %}
    <div class= "container-sm">
        <p>Welcome to Language Log Pile the fourth part of The Mind Garden test.</p>
        <p>This part of the test includes 1 question and should take around 5 minutes to take.</p>
        <p>It will test your language skills.</p>
        <p>Make sure you are comfortable and in an evironment that is free from distractions.
        </p>
        <p>When you are ready, click below to start.</p>
    </div>
        <br>
        <a href="{{url_for('language1')}}" class= "button d-block" >Start</a> 

        <br>
        <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 
    

    {% endif %}

{% else %}

    {% if completed %}

        <p class="text-center">Welcome back to Language Log Pile! Click below if you would like to take this part of the test again, or you can return to your garden.</p>
    
        <a href="{{url_for('language1')}}" class= "button d-block" >Start</a> 
        <br>
        <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 
       
    {% else %}
    <div class= "container-sm">
        <p>Welcome to Language Log Pile, the final part of The Mind Garden test.</p>
        <p>This part of the test has 1 question and should take around 5 minutes to take. It will test your language skills.</p>
        <p>Before starting, make sure you are comfortable and in an evironment that is free from distractions.
        </p>
        <p>When you are ready, click below to start.</p>
    </div>
        <br>
        <a href="{{url_for('language1')}}" class= "button d-block" >Start</a> 
        <br>
        <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 
        

    {% endif %}

{% endif %}
</div>


{% endblock %}







