{% extends 'base.html' %}
{% block title %} Language Log Pile {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Language Log Pile</h1>

{% if active_test %}
    {% if completed %}
        <p class="text-center">You have already completed Language Log Pile! Please return to your garden to choose another part of the test. </p>


        <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 
    
    {% elif started %}

    <p class="text-center">Welcome back to Language Log Pile! Click continue to start where you left off, or return to your garden</p>

     <a href="{{url_for('languagecontinue')}}" class= "button d-block" >Continue</a> 
    <br>
     <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 

    {% else %}
    <div class= "container-sm">
        <p>Welcome to Language Log Pile, the third part of The Mind Garden test.</p>
        <p>This part of the test includes 3 questions and should take around 10 minutes to take.</p>
        <p>It will test your memory, language and fluency.</p>
        <p>You will need to take this part of the test in one go, so make sure you are comfortable and 
            in an evironment that is free from distractions!
        </p>
        <p>When you are ready, click below to start.</p>
    </div>
        <br>
        <a href="{{url_for('language1')}}" class= "button d-block" >Start</a> 

        <br>
        <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 
    

    {% endif %}

{% else %}

    {% if completed %}

        <p class="text-center">Welcome back to Language Log Pile! Click below if you would like to take this part of the test again, or you can return to your garden.</p>
    
        <a href="{{url_for('language1')}}" class= "button d-block" >Start</a> 
        <br>
        <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 
       
    {% else %}
    <div class= "container-sm">
        <p>Welcome to Language Log Pile, the third part of The Mind Garden test.</p>
        <p>This part of the test includes 3 questions and should take around 10 minutes to take.</p>
        <p>It will test your memory, language and fluency.</p>
        <p>You will need to take this part of the test in one go, so make sure you are comfortable and 
            in an evironment that is free from distractions!
        </p>
        <p>When you are ready, click below to start.</p>
    </div>
        <br>
            <a href="{{url_for('language1')}}" class= "button d-block" >Start</a> 
        

    {% endif %}

{% endif %}
</div>


{% endblock %}







