{% extends 'base.html' %}
{% block title %} Memory Maze {% endblock %}
{% block content %}


<div class="container">
    <div class="container">
        <h1 class="text-center">Part 8</h1>

        {% if next %}
            {% if test_completed %}
                <p class = "text-center">Thank you for completing Memory Maze, you have finished the Mind Garden Test!
                    Click below to view your results:
                </p>
                
            <br>
            <a href="{{url_for('results')}}" class= "button d-block" >Your Results</a> 
            
            {% else %}
                <p class = "text-center">Thank you for completing Memory Maze!
                    Click below to return to your garden to choose the next part of the test:
                </p>
            
                <br>
                <a href="{{url_for('yourgarden')}}" class= "button d-block" >Your Garden</a> 

                
            {% endif %}

        {% else %}

            <p class= "text-center">Final question </p>
            <br>
            <br><br>
            <a href="{{url_for('memory8')}}" class= "button d-block" >Your Garden</a> 
            <br>

           

        {% endif %}  

        
    </div>

{% endblock %}
    

