<html>

<body>


    <p1>Dear {{ user.first_name}},</p1>
    <br>

    <p1>To reset your password, please click on the link below: </p1>
    <br>

    <p1>{{ url_for('resetpassword', token=token, _external=True)}}</p1>
    <br>

    <p1>The link will be valid for 24 hours. </p1>

    <br>

    <p1> If you did not make this request, please ignore this email and no changes will be made to your account.</p1>
    <br>
    <p1>Many thanks, </p1>
    <br>

    <p1>The Mind Garden Team </p1>

</body>
</html>