{% extends 'base.html' %}
{% block title %} Fluency Fountain {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Fluency Fountain</h1>
{% if not questions_1 %}
<div class= "container-sm">
    <p>Welcome to Fluency Fountain, the first part of The Mind Garden test.</p>
    <p>This part of the test includes 10 questions and should take around 10 minutes to take.</p>
    <p>It will test your memory, attention, language and visual spatial abilities.</p>
    <p>You will need to take this part of the test in one go, so make sure you are comfortable and 
        in an evironment that is free from distractions!
    </p>
    <p>When you are ready, click below to start.</p>
</div>
    <br>
        <a href="{{url_for('fluency1')}}" class= "button d-block" >Start Test</a> 
{% else %}
    <p class="text-center">Welcome back to Fluency Fountain! Click continue to start where you left off, or restart if you would like to start again.</p>
    <p class="text-center">If you choose to restart, any previous progress will be lost along with your current score for Fluency Fountain.</p>

     <a href="{{url_for('fluencycontinue')}}" class= "button d-block" >Continue</a> 
    <br>
    <a href="{{url_for('fluency1')}}" class= "button d-block" >Restart Test</a> 

{% endif %}

</div>


{% endblock %}







