{% extends 'base.html' %}
{% block title %} Fluency Fountain {% endblock %}
{% block content %}
    <div class="container">
        
        <h1 class="text-center">Part 6</h1>
        
        {% if not next %}
            <div id="startDiv" class= "text-center">
                <p class= "text-center"> In this section, when you press start an audio clip will be played. You will then need to carry out the instructions 
                    as given in the audio. You will only be able to listen to it once, so make sure you are ready before pressing start!
                </p>
                <br>
                <img class="flowerblur" src="static/flowerblur.png">
                <img class="canblur" src = "static/canblur.png">           
                <br><br>
                
                <button id="startBtn" class= "button d-block" >Start</button> 
            </div>

            <div id="soundDiv" class= "text-center">
                <br>
                <audio id= "audio1">
                    <source src="static/flower1.mp3" type="audio/mpeg">
                    <source src="static/flower1.ogg" type="audio/ogg">
                    <p>Your browser doesn't support HTML5 audio. Here is
                    a <a href="static/flower1.mp3">link to the audio</a> instead.</p>
                </audio>
                <audio id= "audio2">
                    <source src="static/flower2.mp3" type="audio/mpeg">
                    <source src="static/flower2.ogg" type="audio/ogg">
                    <p>Your browser doesn't support HTML5 audio. Here is
                    a <a href="static/flower2.mp3">link to the audio</a> instead.</p>
                </audio>
                <audio id= "audio3">
                    <source src="static/flower3.mp3" type="audio/mpeg">
                    <source src="static/flower3.ogg" type="audio/ogg">
                    <p>Your browser doesn't support HTML5 audio. Here is
                    a <a href="static/flower3.mp3">link to the audio</a> instead.</p>
                </audio>
                <audio id= "audio4">
                    <source src="static/flower4.mp3" type="audio/mpeg">
                    <source src="static/flower4.ogg" type="audio/ogg">
                    <p>Your browser doesn't support HTML5 audio. Here is
                    a <a href="static/flower4.mp3">link to the audio</a> instead.</p>
                </audio>
                <img class="flowerblur" src="static/flowerblur.png">
                <img class="canblur" src = "static/canblur.png">           
                <br><br>
            </div>
        
            <div id="div1" class= "text-center">
                <p>When you have finished, click 'finished' below to move on. </p>
                <br>
                <img id="flower1" class="flower" src="static/flower2.png" alt="flower">
                <img id="can1" class="can" src = "static/can3.png" alt="can">           
                <br><br>

                <button id="finish1" class= "button d-block" >Finished</button> 
            </div>

            <div id="div2" class= "text-center">
                <p>When you have finished, click 'finished' below to move on. </p>
                <br>
                <img id="flower2" class="flower" src="static/flower2.png" alt="flower">
                <img id="can2" class="can" src = "static/can3.png" alt="can">         
                <br><br>

                <button id="finish2" class= "button d-block" >Finished</button> 
            </div>

            
            <div id="div3" class= "text-center">
                <p>When you have finished, click 'finished' below to move on. </p>
                <br>
                <img id="flower3" class="flower" src="static/flower2.png" alt="flower">
                <img id="can3" class="can" src = "static/can3.png" alt="can">           
                <br><br>

                <button id="finish3" class= "button d-block" >Finished</button> 
            </div>

            <div id="div4" class= "text-center">
                <p>When you have finished, click 'finished' below to move on. </p>
                <br>
                <img id="flower4" class="flower" src="static/flower2.png" alt="flower">
                <img id="can4" class="can" src = "static/can3.png" alt="can">           
                <br><br>

                <button id="finish4" class= "button d-block" >Finished</button> 
            </div>

            <div>
                <form method="POST" id="form">
                    <div class= "mb-3">
                        {{ form.hidden_tag() }}
                    </div>
                    <div class= "mb-3">
                        {{ form.v1( id="v1", class="form-control") }}
                    </div>
                    <div class= "mb-3">
                        {{ form.v2(id="v2", class="form-control") }}
                    </div>
                    <div class= "mb-3">
                        {{ form.v3(id="v3", class="form-control") }}
                    </div>
                    <div class= "mb-3">
                        {{ form.v4(id="v4", class="form-control") }}
                    </div>
                </form>
            </div>

        {% else %}
            <div id= "next" class="text-center">
                <p>Your answers have been accepted, please click next to continue.</p>
                <br>
                <a href="{{url_for('fluency7')}}" class= "button d-block" id= "nextBtn" >Next Question</a> 
            </div>
            
        {% endif %}
    </div>

{% endblock %}