{% extends 'base.html' %}
{% block title %} Fluency Fountain {% endblock %}
{% block content %}

<div class="container">
    <div class="container">
        <h1 class="text-center">Part 4</h1>
        {% if message %}
        <p class= "text-center"> {{message}} </p>
    
        {% endif %}
        {% if next %}
        <br>
        <a href="{{url_for('fluency5')}}" class= "button d-block" >Next Question</a> 
        <br>
    {% endif %}
    {% if not next %}   
  
    <p class= "text-center"> For this section, you will need to think back to the three words spoken in the audio in part two of the test. </p>
 
    
    <p class= "text-center">What three items were mentioned? Be careful not to make any errors with your typing as this may affect your score. Enter your answers below:</p>
    <form method="POST" autocomplete="off">
        <div class= "mb-3">
            {{ form.hidden_tag() }}
        </div>
        <div class= "mb-3">
            {{ form.v1.label }}
            {{ form.v1(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.v2.label }}
            {{ form.v2(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.v3.label }}
            {{ form.v3(class="form-control") }}
        </div>
        <br>
        {% if form.errors %}
            <p>Sorry, the details could not be processed because of the following errors: </p>
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit" class="button">Submit</button>
    </form>
  
{% endif %}

</div>


{% endblock %}

