{% extends 'base.html' %}
{% block title %} Fluency Fountain {% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center">Part 3</h1>
    <p1 class= "text-center">In this part of the test, you need to start at 100 and take 7 away, and enter the result in the first box. Keep subtracting 7 and enter the values as you go!</p1>
    <br>
    <img src=static/100.jpg class="img-fluid mx-auto d-block">
    <form method="POST">
        <div class= "mb-3">
            {{ form.hidden_tag() }}
        </div>
        <div class= "mb-3">
            {{ form.v1.label }}
            {{ form.v1(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.v2.label }}
            {{ form.v2(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.v3.label }}
            {{ form.v3(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.v4.label }}
            {{ form.v4(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.v5.label }}
            {{ form.v5(class="form-control") }}
        </div>
        <br>
        {% if form.errors %}
            <p>Sorry, your details could not be processed because of the following errors: </p>
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if not next %}
        <button type="submit" class="button">Submit</button>
        {% endif %}
    </form>
    {% if message %}
        <p class= "text-center"> {{message}} </p>

    {% endif %}

    {% if next %}
        <br>
        <a href="{{url_for('fluency4')}}" class= "button d-block" >Next Question</a> 

    {% endif %}

    
</div>


{% endblock %}