{% extends 'base.html' %}
{% block title %} Fluency Fountain {% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center">Part 7</h1>

    {% if message %}
    <p class= "text-center"> {{message}} </p>

{% endif %}

{% if next %}
    <br>
    <a href="{{url_for('fluency8')}}" class= "button d-block" >Next Question</a> 

{% endif %}

{% if not next %}

    <p class= "text-center">For this section, please name the items in the pictures below. Be careful not to make any errors with your typing as this may affect your score:</p>
   
    <br>
    <br>

    <form method="POST" class="pform" autocomplete="off">
        <div class= "col-md-4">
            {{ form.hidden_tag() }}
        </div>
        <div class= "row">
            <div class= "col-md-4">
                <img src='static/spoon.jpg' class="img-thumbnail image" >
                <br><br>
                {{ form.v1.label }}
                {{ form.v1(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/book.jpg' class="img-thumbnail image">
                <br><br><br><br>
                {{ form.v2.label }}
                {{ form.v2(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/kangaroo.jpg' class="img-thumbnail image">
                <br> <br>
                {{ form.v3.label }}
                {{ form.v3(class="form-control", autocomplete="nope") }}
            </div>
            <br>
        </div>
        <br><br>
        <div class= "row">
            <div class= "col-md-4">
                <img src='static/penguin.jpg'class="img-thumbnail image">
                <br> <br>
                {{ form.v4.label }}
                {{ form.v4(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/anchor.jpg'class="img-thumbnail image">
                <br><br>
                {{ form.v5.label }}
                {{ form.v5(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/camel.jpg'class="img-thumbnail image">
                <br><br>
                {{ form.v6.label }}
                {{ form.v6(class="form-control", autocomplete="nope") }}
            </div>
            <br>
        </div>
        <br><br>
        <div class= "row">
            <div class= "col-md-4">
                <img src='static/harp.jpg'class="img-thumbnail image">
                <br>
                {{ form.v7.label }}
                {{ form.v7(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/rhino.jpg'class="img-thumbnail image">
                <br><br><br>
                {{ form.v8.label }}
                {{ form.v8(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/barrel.jpg'class="img-thumbnail image">
                <br>
                {{ form.v9.label }}
                {{ form.v9(class="form-control", autocomplete="nope") }}
            </div>
            <br>
        </div>
        <br><br>
        <div class= "row">
            <div class= "col-md-4">
                <img src='static/crown.png'class="img-thumbnail">
                <br><br><br>
                {{ form.v10.label }}
                {{ form.v10(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/croc.jpg'class="img-thumbnail">
                <br><br><br>
                {{ form.v11.label }}
                {{ form.v11(class="form-control", autocomplete="nope") }}
            </div>
            <br>
            <div class= "col-md-4">
                <img src='static/acc.jpg'class="img-thumbnail">
                <br><br><br>
                {{ form.v12.label }}
                {{ form.v12(class="form-control") }}
            </div>
        </div>
        <br>
        {% if form.errors %}
            <p>Sorry, the details could not be processed because of the following errors: </p>
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

     
        <br>
        <button type="submit" class="button">Submit</button>
     
    </form>

{% endif %}  

    
</div>


{% endblock %}