{% extends 'base.html' %}
{% block title %} Fluency Fountain {% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center">Part 1</h1>

    {% if not next %}
    <p class= "text-center"> Please answer all questions below then click submit;</p>
    {% endif %}
    <br>
    {% if message %}
    <p class= "text-center"> {{message}} </p>

    {% endif %}

{% if next %}
    <br>
    <a href="{{url_for('fluency2')}}" class= "button d-block" >Next Question</a> 
    <br>
{% endif %}

{% if not next %}
    <form method="POST">
        <div class= "mb-3">
            {{ form.hidden_tag() }}
        </div>
        <div class= "mb-3">
            {{ form.tries }}
        </div>
        <div class= "mb-3">
            {{ form.day.label }}
            {{ form.day(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.date.label }}
            {{ form.date(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.month.label }}
            {{ form.month(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.year.label }}
            {{ form.year(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.season.label }}
            {{ form.season(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.birthdate.label }}
            {{ form.birthdate(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.email_address.label }}
            {{ form.email_address(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.test_place.label }}
            {{ form.test_place(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.age.label }}
            {{ form.age(class="form-control") }}
        </div>
        <div class= "mb-3">
            {{ form.country.label }}
            {{ form.country(class="form-control") }}
        </div>
        <br>
        {% if form.errors %}
            <p>Sorry, your details could not be processed because of the following errors: </p>
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
     
    
        <button type="submit" class="button">Submit</button>

    </form>

{% endif %}
  

    
</div>


{% endblock %}