{% extends 'base.html' %}
{% block title %} Create Account {% endblock %}
{% block content %}

<div class= "container">

  {% if last_name %}
    <h1 class="text-center">Your account was created successfully!</h1>
    <p class="text-center"> Please click below to login:</p>
    <br>
    <a href='/login' class= "button d-block" >Login</a> 
  {% else %}
    <h1 class="text-center"> Create your account</h1>
    <br>
    <form method="POST", action=/createaccount>
        <div class= "mb-3">
          {{ form.hidden_tag() }}
        </div>
        <div class= "mb-3">
          {{ form.first_name.label }}
          {{ form.first_name(class="form-control") }}
        </div>
        <div class= "mb-3">
          {{ form.last_name.label }}
          {{ form.last_name(class="form-control") }}
        </div>
        <div class= "mb-3">
          {{ form.birthdate.label }}
          {{ form.birthdate() }}
        </div>
        <div class= "mb-3">
          {{ form.email_address.label }}
          {{ form.email_address(class="form-control") }}
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class= "mb-3">
          {{ form.country.label }}
          {{ form.country(class="form-control") }}
        </div>
        <div class= "mb-3">
          {{ form.password_hash.label }}
          {{ form.password_hash(class="form-control",autocomplete="new-password") }}
          <small id="passwordHelp" class="form-text text-muted">Your password must be atleast 12 characters long. We reccomend you choose 3 memorable words!</small>
        </div>
        <div class= "mb-3">
          {{ form.confirm.label }}
          {{ form.confirm(class="form-control")}}
        </div>
        <div class= "mb-3 form-check">
          {{ form.accept_tos.label }}
          {{ form.accept_tos(class="form-check-input")}}
        </div>
        <br>
        {% if message %}
          <p> {{ message }}</p>
        {% endif %}
        {% if form.errors %}
          <p>Sorry, your details could not be processed because of the following errors: </p>
          <ul class="errors">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                  {% for error in field_errors %}
                      <li> {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
       {% endif %}
        {{ form.submit(class="button") }}
      </form>
  {% endif %}
      
</div>

{% endblock %}