{% extends 'base.html' %}
{% block title %} Forgotten Password {% endblock %}
{% block content %}

<div class= "container">
    {% if email_address %}
        <h1 class="text-center"> Thank you! </h1>
        <p class="text-center"> If an account with that emal address exists, a link will be sent so you can reset your password.</p>
        <p class="text-center"> Please check your junk folder, as sometimes they can make their way into there!</p>
        <p class="text-center"> Please click below to login:</p>
        <br>
        <a href='/login' class= "button d-block" >Login</a> 
    {% else %}
        <h1 class="text-center"> Forgotten your password? </h1>
    
        <p class= "text-center"> Don't worry, enter your email address below and we will send you a link to reset it:</p>
    
        <br>
        <form method="POST">
            <div class= "mb-3">
                {{ form.hidden_tag() }}
            </div>
            <div class= "mb-3">
                {{ form.email_address.label }}
                {{ form.email_address(class="form-control") }}
            </div>
            <br>
            {% if form.errors %}
                <p>Sorry, your details could not be processed because of the following errors: </p>
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <button type="submit" class="button">Submit</button>
        </form>
    {% endif %}
</div>

{% endblock %}