{% extends 'base.html' %}
{% block content %}

{% if loggedin %}
<div>
    <h1 class="text-center"> Welcome to The Mind Garden, {{name}}</h1>
    <p class= "text-center">Click below to enter your garden...</p>
    <br>
    <a href='/yourgarden' class= "button d-block" >Your Garden</a> 
</div>
{% else %}
<div>
    <img src="{{url_for('static', filename='title.jpg')}}" class="img-fluid mx-auto d-block" width="800" height="150" alt="The Mind Garden">
    <a href='/createaccount' class= "button d-block" >Create Account </a> 

</div>
<br>
<div>
    <h1 class="text-center"> Welcome to the Mind Garden, a confidential way to test for Mild Cognitive Impairment. </h1>
    <br>
    <p> The Mind Garden is a digitalized version of the Addenbrooke's Ace III test, which you can take from the comfort of your own back yard.
        If you would like to find out more about the test, please visit the 'About' page. If you would like to find out 
        how to get support for Mild Cognitive Impairment, you can visit the 'Support' page. Click the 'Create Account' button above to 
        signup and get started.
    </p>

</div>

{% endif %}

   


{% endblock %}