{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<div class= "container">

    <h1 class="text-center"> Login </h1>
    <br>
    <form>
        <div class= "mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class= "mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class= "mb-3">
            <a href= "/forgottenpassword"> Forgotten your password?</a>
        </div>
        <br>
        <button type="submit" class="button">Submit</button>
    </form>
</div>

{% endblock %}