{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<div class= "container">

    <h1 class="text-center"> Login </h1>
    <br>
    <p class= "text-center">Please enter your email address and password below to login into your account:</p>
    <form Method="POST">
        <div class= "mb-3">
            {{ form.hidden_tag() }}
        </div>
        <div class= "mb-3">
          {{ form.email_address.label }}
          {{ form.email_address(class="form-control") }}
        </div>
        <div class= "mb-3">
          {{ form.password_hash.label }}
          {{ form.password_hash(class="form-control", autocomplete="current-password") }}
        </div>
        <div class= "mb-3">
            <a href= "/forgottenpassword"> Forgotten your password?</a>
        </div>
        <br>
        {% if message %}
            <p> {{message}}</p>
        {% endif %}
        {% if form.errors %}
          <p>Sorry, your details could not be processed because of the following errors: </p>
          <ul class="errors">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                  {% for error in field_errors %}
                      <li> {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
       {% endif %}
        {{ form.submit(class="button") }}
    </form>
</div>

{% endblock %}