{% extends 'base.html' %}
{% block title %} Forgotten Password {% endblock %}
{% block content %}

<div class= "container">
    {% if error %}
        <p1>Sorry, the link you used is invalid or has expired. Please click below to request a new link.</p1>
        <br>
        <a href='/forgottenpassword' class= "button d-block" >Reset Password</a> 
    {% else %}
    <h1 class="text-center"> Reset your password</h1>
    <br>
    <form method="POST">
        <div class= "mb-3">
          {{ form.hidden_tag() }}
        </div>
        <div class= "mb-3">
        {{ form.password_hash.label }}
          {{ form.password_hash(class="form-control") }}
          <small id="passwordHelp" class="form-text text-muted">Your password must be atleast 12 characters long. We reccomend you choose 3 memorable words!</small>
        </div>
        <div class= "mb-3">
          {{ form.confirm.label }}
          {{ form.confirm(class="form-control")}}
        </div>
        {% if form.errors %}
          <p>Sorry, your details could not be processed because of the following errors: </p>
          <ul class="errors">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                  {% for error in field_errors %}
                      <li> {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
       {% endif %}
        {{ form.submit(class="button") }}
      </form>
    {% endif %}
</div>

{% endblock %}