{% extends 'base.html' %}
{% block title %} Support {% endblock %}
{% block content %}

<div class= "container">
    <h1 class="text-center">Support</h1>
    <p>Welcome to the Mind Garden Support page. Here you will find links to external resources which offer help and guidence regarding Mild Cognitive Imparement (MCI).
    </p>
   
    <p>
    Below is a link to the Alzheimer's Research website, where you will find more information about MCI and how to get help and support:
    </p>
    <p class="text-center">
    <a href= "https://www.alzheimersresearchuk.org/dementia-information/types-of-dementia/mild-cognitive-impairment/">Visit Alzheimer's Reasearch UK</a>
    </p>
    <p>If you or someone you know is experiencing symptoms of MCI, you may wish to contact your GP who will be able to talk through the next steps with you. 
    </p>
    

{% endblock %}