{% extends 'base.html' %}
{% block title %} Your Garden {% endblock %}
{% block content %}

<div class="container">

    <h1 class="text-center">{{current_user.first_name}}'s Mind Garden</h1>

    <div id="onOff">
      <img id="sound" data-toggle="tooltip" data-placement="bottom" title="Click to control sound!">
    </div>

    <div>
      <audio autoplay loop id= "audio">
          <source src="static/garden.mp3" type="audio/mpeg">
          <source src="static/garden.ogg" type="audio/ogg">
          <p>Your browser doesn't support HTML5 audio. Here is
            a <a href="static/garden.mp3">link to the audio</a> instead.</p>
        </audio>
    </div>
    
    <p class="text-center">Behind each area of your garden is part of the Mind Garden test. Click on an area to complete it.</p>
   
    <br>
    <div >
    <table class = "text-center" id="map">
        <tr>
          <td>
            <a href= "{{url_for('fluency')}}">
                {% if module_1_completed == 'not started' %}
                    <img src="static/FF1.png" height=250 width=250 >
               
                {% elif module_1_completed == 'in progress' %}
                    <img src="static/FF2.png" height=250 width=250 >

                {% else %}
                    <img src="static/FF3.png" height=250 width=250 >

                </a>
                {% endif %}
          </td>
          <td>
            <a href= "{{url_for('memory')}}">
              {% if module_2_completed == 'not started' %}
              <img src="static/mm1.png" height=250 width=250 >
         
          {% elif module_2_completed == 'in progress' %}
              <img src="static/mm2.png" height=250 width=250 >

          {% else %}
              <img src="static/mm3.png" height=250 width=250 >

          </a>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            <a href= "{{url_for('visual')}}">
              {% if module_3_completed == 'not started' %}
                <img src="static/VVP1.png" height=250 width=250 >
         
              {% elif module_3_completed == 'in progress' %}
               <img src="static/VVP2.png" height=250 width=250 >

              {% else %}
                <img src="static/VVP3.png" height=250 width=250 >

          </a>
          {% endif %} 
          </td>
          <td>
            <a href= "{{url_for('language')}}">
              {% if module_4_completed == 'not started' %}
              <img src="static/LLP1.png" height=250 width=250 >
         
          {% elif module_4_completed == 'in progress' %}
              <img src="static/LLP2.png" height=250 width=250 >

          {% else %}
              <img src="static/LLP3.png" height=250 width=250 >

          </a>
          {% endif %}
          </td>
        </tr>
      </table>
    </div>
    

</div>



{% endblock %}
