{% extends 'base.html' %}
{% block title %} Your Garden {% endblock %}
{% block content %}

<div class="container">

    <h1 class="text-center">{{current_user.first_name}}'s Mind Garden</h1>
    {% if message %}
        <p class="text-center">{{message}}</p>
    {% endif %}
    <br>
    <!-- <img src="/static/draftgarden.jpg" alt="Garden Map" usemap="#gardenmap">

    <map name="gardenmap">
    <area shape="rect" coords="0,0,373,393" alt="Fluency Fountain" href= "{{url_for('fluency')}}">
   
    </map> -->
    <table class = "text-center">
        <tr>
          <td>
            <a href= "{{url_for('fluency')}}">
                {% if module_1_completed == 'not started' %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Black_And_White_Fountain_%2890123217%29.jpeg" height=250 width=250 >
               
                {% elif module_1_completed == 'in progress' %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Round_fountain_surrounded_by_trees_under_a_stormy_sky_in_Kyoto_Botanical_Garden_Japan.jpg" height=250 width=250 >

                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Fountain_-_Wilhelma.jpg" height=250 width=250 >

                </a>
                {% endif %}
          </td>
          <td>
            <a href= "{{url_for('memory')}}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Hedge_maze_in_Parque_S%C3%A3o_Roque_da_Lameira_2.jpg" height=250 width=250>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href= "{{url_for('language')}}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Allotments_off_Sandling_Lane_-_geograph.org.uk_-_89452.jpg" height=250 width=250>
           </a>  
          </td>
          <td>
            <a href= "{{url_for('visual')}}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Stonecrop_Gardens%2C_Cold_Spring%2C_violet_flowers.jpg" height=250 width=250>
          </a>
          </td>
        </tr>
      </table>
      
    

</div>



{% endblock %}